<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html;charset=utf-8" />
<title>无标题文档</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" scr="firstpage.js"></script>
</head>
<body>
	<div class="top">		
		<div class="top_content">
			<p>注册</p>
		<div class="message">
			<img  src="images/message.png" />
		</div><!--message结束-->
		<div class="me">
			<img src="images/me.png" />
		</div><!--me结束-->			
		</div><!--ton_content结束-->

	<div class="top_body">
				<div class="message_list">
			<ul>
				<li>系统通知</li>
				<li>本馆公告</li>
				<li>我的消息</li>
			</ul>
		</div><!--message_list结束-->
		<div class="me_list">
			<ul>
				<li>系统通知</li>
				<li>本馆公告</li>
				<li>我的消息</li>
			</ul>
		</div><!--message_list结束-->

			<div class="top_body_rg">
				<span class="rg_right"><img src="images/rg_right.png"></span>
			<form>
			<input type="text" name="输入书名/作者/编码查找书籍" value="输入书名/作者/编码查找书籍" />
			</form>			
			</div><!--top_content_rg结束-->
			
			
		</div><!--top_body结束-->
	</div><!--top结束-->
</body>
</html>

<style>

.show{ position:relative; width:100px; height:20px; background:#666; text-align:center; line-height:20px; }
.show a{ color:#fff;}
.hidden{ position:absolute; top:20px; left:0; background:#eee; }
.hidden a{ display:inline-block; color:#FF0099;}
 </style>
<div class="show" onmouseover="showhid('downmenu1')" onmouseout="showhid2('downmenu1')">
                <a href="#" class="add" onclick="showhid('downmenu1');">新建</a>
                <div class="hidden" id="downmenu1" style=" display:none;">
                发文拟稿
                收文登记
                业务填报
         </div></div>
<script>
function showhid(id){
 document.getElementById(id).style.display ='block';
}
function showhid2(id){
 document.getElementById(id).style.display ='none';
}
</script>

window.onload = function(){
	var me = document.getElementById("me");
	var me_list = document.getElementById("me_list");
	me.onmouseover = function(){
		me_list.style.display = "block";
	};
	me_list.onmouseover = function(){
		me_list.style.display = "block";
	};
	me.onmouseout = function(){
		me_list.style.display = "none";
	};
	me_list.onmouseout = function(){
		me_list.style.display = "none";
	};//me_list结束

	var message = document.getElementById("message");
	var message_list = document.getElementById("message_list");
	message.onmouseover = function(){
		message_list.style.display = "block";
	};
	message_list.onmouseover = function(){
		message_list.style.display = "block";
	};
	message.onmouseout = function(){
		message_list.style.display = "none";
	};
	message_list.onmouseout = function(){
		message_list.style.display = "none";
	};//message_list结束


};