<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html;charset=utf-8" />
<title>无标题文档</title>
<link href="css/searchpage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/searchpage.js"></script>
</head>
<body>
	<div class="top">
		<div class="top1">
			<div class="top_right">
			<div id="message">
				<img src="images/message.png" />
			</div><!--message结束-->
			<div id="me">
				<img src="images/me.png" />
			</div><!--me结束-->
		</div><!--top_right结束-->
		<div id="message_list">
			<ul>
				<li><a href="#">系统通知</a></li>
				<li><a href="#">本馆公告</a></li>
				<li><a href="#">我的消息</a></li>
			</ul>
		</div><!--message_list结束-->
		<div id="me_list">
			<ul>
				<li><a href="#">个人主页</a></li>
				<li><a href="#">借阅情况</a></li>
				<li><a href="#">我的收藏</a></li>
				<li><a href="#">退出</a></li>
			</ul>
	    </div><!--me_list结束-->
		</div><!--top1-->
		<div class="top2">
			<div class="top_rg">
			<a href="#"><span class="rg_right"><img src="images/rg_s.png"></span></a>
			<form>
			<input type="text"  />
			</form>	
		</div>
		</div><!--top2-->
	</div><!--top-->
	<div class="main">
		<div class="main_top">
			<div class="result">
				<p>搜索结果:</p>
			</div><!--result-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="book">
			<div class="book_left">
				<a href="#"><img src="images/book.png"></a>
			</div><!--book-left-->
			<div class="book_right">
				<h3>书名</h1>
				<p>作者/出版社/出版年份</p>
				<p>ISBN码</p>
				<p>评分</p>
				<p>剩余本数/总共本数</p>
			</div><!--book-right-->
		</div><!--book-->
		<div class="foot">
			<p>第i/n页 上一页 下一页 转至<input type="text" name="页码" />页</p>
		</div>
	</div><!--main-->
	</div><!--body-->	
</body>
</html>